<div class="index-content">
    <img src ="/images/beer.png" alt ="beer img">
    <div class="btn">
        <button class="btn-margin"> Click the Beers!</button>
        <button class="btn-margin"> Check a Random Beer </button>
    </div>

</div>